.archimed-layout {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    background: url(../images/bg.jpg) center / cover;
}
.archimed-layout .mdl-layout__header,
.archimed-layout .mdl-layout__drawer-button {
    color: #FFF;
}

.archimed-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}

.card-list-empty {
    display: block;
    width: 100%;
    padding-top: 2%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em;
    color: #FFF;
}

.archimed-add-button {
    position: fixed !important;
    right: 2%;
    bottom: 2%;
    z-index: 900;
}

.archimed-header {
    margin: 0 10px;
    padding: 16px 15px 14px 15px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    color: #FFF;
}

.card-list-wrap {
    position: relative;
    width: 100%;
    margin: 0 10px;
}

.card-list {
    width: 100%;
    margin: 0;
}

.card-list-item {
    display: block;
    line-height: normal;
    background: #FFF;
}

.card-list-item .card-name {
    float: left;
    width: 80%;
    padding-top: 5px;
}

.card-list-item .actions {
    float: left;
    text-align: right;
    width: 20%;
}

.card-list-item input {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 0;
}

.card-list-item .card-actions {
    margin-top: 15px;
    text-align: right;
}

.card-list-item .card-actions button {
    margin-left: 10px;
}

@media screen and (max-width: 1000px) {
    .archimed-header {
        padding-left: 50px;
    }
}